@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    --cream: hsl(30, 38%, 92%);
    
    --gray: hsl(228, 12%, 48%);

    --black: hsl(212, 21%, 14%);
    --white: hsl(0, 0%, 100%);

    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);

    --attribution-color: hsl(228, 45%, 44%); 
    --box-content-width: 21rem;
}

.text-preset-1 {
    font-family: "Fraunces", Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--black);
    line-height: 1;
}

.text-preset-2 {
    font-family: "Montserrat",Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: var(--gray);
    font-size: 0.875rem;
    line-height: 1.1;
}

.text-preset-3 {
    font-family: "Montserrat",Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: var(--gray);
    font-size: 0.875rem;
    line-height: 1.55;
}

.text-preset-4 {
    font-family: "Montserrat",Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: var(--gray);
    font-size: 0.75rem;
    line-height: 1.2;
    letter-spacing: 0.3125rem ;
}

.text-preset-5 {
    font-family: "Montserrat",Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: var(--gray);
    font-size: 0.8125rem;
    line-height: 1.2;
    text-decoration: line-through;
}

* {
    margin: 0rem;
    padding-inline: 0rem;
    
}
body {
    background-color: var(--cream);
    font-family: "Montserrat",Verdana, Geneva, Tahoma, sans-serif;
    color: var(--gray);
    font-size: 0.875rem;
}



a {
    text-decoration: none;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

}

.centered-box {
    width: 21.875rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin-block-start: 0rem;
    display: flex;
    flex-direction: column;
}

.product-image{
    width: 100%;
    border-start-start-radius: 0.5rem;
    border-start-end-radius: 0.5rem;
}

.bigimage {
    display: none
}

.product-text-box{
    margin-inline: 2rem;
    text-align: left;
}
.roof {
    margin-block-start: 1.75rem;
}
.title {
    margin-block: 1.5rem;

}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block: 1.5rem;
}
.price-big {
    color: var(--green-500);

}

.price-bargain {
    margin-inline: 1rem;
}

.button {
    display: grid;
    grid-template-columns: 38% 62%;
    background-color: var(--green-500);
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    margin-block-end: 1.5rem;
    color: var(--white);
    padding: 1rem;
    width: 15rem;
}

.button:hover {
    background-color: var(--green-700);
}

.cart-logo {
    text-align: right;
    padding-inline: 0.5rem;
    border: 0px solid ;
}
.cart-claim { 
    text-align: left;
    font-weight: 700;
    border: 0px solid ;
}
/* Frontend Mentor attribution style */
.attribution { font-size: 0.75rem; text-align: center; margin-block-start: 1rem; }
.attribution a { color: hsl(228, 45%, 44%); }


/* @media stuff */

@media  screen and (min-width: 40rem) {


    .centered-box {
        width: 37.5rem;
        height: 28rem;
        flex-direction: row;
    }

    .product-image {
        border-start-start-radius: 0.5rem;
        border-start-end-radius: 0rem;
        border-end-start-radius: 0.5rem;
    }
    .bigimage {
        display: block;
        width: 18.75rem;
        height: 28rem;
    }

    .smallimage {
        display: none;
    }

    .text-preset-3 {
        line-height: 1.6;
    }

    .roof {
        margin-block-start: 2.5rem;
    }

    .price {
        margin-block-start: 1.9rem;
        margin-block-end: 1.5rem;
}
}